*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
}

.seccion-portada {
    background-image: url(../assets/foto\ psicodelia.bmp);
    height: 40vh; 
    color: white;
   display: flex;
   justify-content: center;
   align-items: baseline;

   
}

.section-portada__titulo{
  padding-top: 150px;
    font-size: 2rem;
}


@media(min-width:768px){
    .seccion-portada
    }






.container {
    background-color: black;
}

.nav-link {
    color: rgb(255, 255, 255);
}


.navbar-toggler{
    background-color: #ffffff 
}


.navbar{
    
    
    flex-wrap:nowrap
    
}



.navbar-brand{
    color: white;
}

.bg{
    background-color: black;
}



.c-blanco{
    color: white;
}

.seccion__nosotros{
    margin: 50px auto;
}
.btn-lg {
    margin: 15px;
}

.h3 {
margin-top: 0;

}

